<div class="landing-news animate">
    <div class="wrapper">
        <div class="background-text">
            <h2>What's good</h2>
            <div class="background"></div>
        </div>
        <div class="news-list">
            <div class="row floater">
                <div class="news-col">
                    <a href="#">
                        <div class="news-item">
                            <div class="news-img">
                                <div class="show">
                                    <span>show me</span>
                                </div>
                                <img src="public/images/cover1.jpg" alt="">
                            </div>
                            <div class="news-title">
                                <h3>Help yourself, you have a lot to learn.</h3>
                                <p class="subtitle">It's new, it's fresh, it's made just for you</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-col">
                    <a href="#">
                        <div class="news-item">
                            <div class="news-img">
                                <div class="show">
                                    <span>show me</span>
                                </div>
                                <img src="public/images/cover2.jpg" alt="">
                            </div>
                            <div class="news-title">
                                <h3>This will make your day.</h3>
                                <p class="subtitle">A lovely typeface.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-col">
                    <a href="#">
                        <div class="news-item">
                            <div class="news-img">
                                <div class="show">
                                    <span>show me</span>
                                </div>
                                <img src="public/images/cover3.jpg" alt="">
                            </div>
                            <div class="news-title">
                                <h3>We and only we</h3>
                                <p class="subtitle">A book about a couple.. of things.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-col">
                    <a href="#">
                        <div class="news-item">
                            <div class="news-img">
                                <div class="show">
                                    <span>show me</span>
                                </div>
                                <img src="public/images/cover4.jpeg" alt="">
                            </div>
                            <div class="news-title">
                                <h3>Journey</h3>
                                <p class="subtitle">Beautiful things really.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
