<nav>
    <a class="brand" href="#" title="This is a lovely logo"><img src="public/images/logo.png" alt="BrandLogo">
        <h1>Sofia Pro</h1></a>
    <a class="menubtn" href="#">
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </a>
    <ul class="menu">
        <li><a href="#" title="This is not a real link">Homepage</a></li>
        <li><a href="#" title="This one is not either">About us</a></li>
        <li><a href="#" title="I think you get it now">Contact</a></li>
        <li><a href="#" title="Come on dude">Menu</a></li>
    </ul>
</nav>
