#app
    padding-top: 80px
    min-height: 100vh
    max-height: 100vh
    height: 300496px
    overflow: hidden;
section.content
    padding: 50px 30px
    height: 100%
    width: 100%
    display: inline-block

@import "app/_title"
@import "app/_side"
@import "app/_news"
