<div class="landing-left">
    <div class="landing-block">
        <div class="landing-image">
            <img src="public/images/cover.jpg" alt="">
        </div>
        <div class="landing-title">
            <h2>Thanks to Sofia Pro.</h2>
            <h3 title="font-size:27px; color:#222223; line-height:1; letter-spacing:0.05em;">Typography is art</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
