.landing-left
    height: 100%
    width: 500px
    position: fixed
    padding-top: 80px
    top: 0
    .landing-block
        display: inline-block;
        padding: 50px
        position: relative;
        top: 50%
        transform: translateY(-50%);
        .landing-image
            max-height: 90%
            max-width: 90%
            position: absolute;
            left: 0
            top: 0
            z-index: -1
            img
                max-height: 100%
                max-width: 100%
                object-fit: cover;
        .landing-title
            position: relative;
            left: 50px
            top: 20px
            background-color: white
            padding: 30px
            max-width: 400px
            h2
                font-weight: 300
                font-size: font-size-biggest
                color: font-color3
            p
                color: font-color2
