body
    font-family: font-family
    // overflow: hidden
*::selection
    color: white
    background-color: selection-color

h1, h2, h3, h4, h5, h6
    font-family: inherit
    color: inherit
    font-weight: 700
    letter-spacing: letter-spacing

h1, h2
    font-size: font-size-biggest
p
    text-align: justify
    margin-bottom: 18px
// a
//     &:hover
//         color: secondary-color
p, a, span, q, th, td, button, ul, li
    font-family: inherit
    color: font-color
    // letter-spacing: letter-spacing
    line-height: line-height-double
    font-weight: 300
    font-size: font-size-small

a
    text-decoration: none
    &:hover
        color: inherit

hr
    margin-top: 30px
    margin-bottom: 30px
    border-top: 1px dotted font-color2
