@font-face
    font-family: 'Sofia Pro'
    font-style: normal
    font-weight: 300
    src: local('../fonts/Sofia Pro Light'), url('../fonts/SofiaProLight.woff2') format('woff2')
@font-face
    font-family: 'Sofia Pro'
    font-style: normal
    font-weight: 700
    src: local('../fonts/Sofia Pro Bold'), url('../fonts/SofiaProBold.woff2') format('woff2')
