*
    box-sizing: border-box;
// @import "_reset";
@import "misc/_mixins";
@import "skeleton/css/normalize.css"
@import "skeleton/css/skeleton.css"
global-reset();
@import "_variables";
@import "_fonts";

@import "_common";
@import "_pages";
